/* estilo del enunciado */
#enunciado {
    background-color: #dfdfdf;
    padding: 10px;
    margin-bottom: 20px;
}

/* estilo para mostrar el JSON */
#resultado {
    background-color: lightyellow;
    padding: 10px;
    border: 1px solid #000;
    white-space: pre-wrap;
}
