body {
    font-family: Arial;
}

/* estilo del enunciado */
.enunciado {
    background-color: #dfdfdf;
    padding: 10px;
    margin-bottom: 20px;
}

/* formato del visor principal */
#visor-principal {
    width: 300px;
    height: 300px;
    border: 2px solid lightslategray;
    margin-bottom: 20px;
}

/* imagen grande */
#visor-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* miniaturas */
#miniaturas img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border: 2px solid lightslategray;
    cursor: pointer;
}

