/* estilo del enunciado */
#enunciado {
    background-color: #dfdfdf;
    padding: 10px;
    margin-bottom: 20px;
}

/* estilo del parrafo donde se muestra el valor JSON */
#resultado {
    background-color: lightyellow;
    padding: 10px;
    border: 1px solid #aaa;
    width: fit-content;
}
