/* estilo del parrafo enunciado */
#enunciado {
    background-color: #dfdfdf;
    padding: 10px;
    margin-bottom: 20px;
}

/* estilo del input */
#nombre {
    padding: 8px;
    margin-right: 10px;
}

/* estilo del botón */
#btn-guardar {
    padding: 8px 15px;
    background-color: lightblue;
    border: 1px solid #000;
    cursor: pointer;
}
