/* estilo del enunciado */
#enunciado {
    background-color: #dfdfdf;
    padding: 10px;
    margin-bottom: 20px;
}

/* estilo del resultado */
#resultado {
    background-color: lightyellow;
    padding: 10px;
    border: 1px solid #a3a3a3;
    width: fit-content;
}
