/* estilos para listas y botones */
#btn-agregar {
    background-color: lightseagreen;
    border: 1px solid #000000;
    padding: 6px 12px;
    cursor: pointer;
}

#btn-eliminar {
    background-color: lightcoral;
    border: 1px solid #000000;
    padding: 6px 12px;
    cursor: pointer;
}

#entrada-texto {
    padding: 6px;
    border: 1px solid #554be9;
}

#lista li {
    background-color: lightyellow;
    margin: 4px 0;
    padding: 4px;
    border: 1px solid #ccccccea;
}

