body {
    font-family: Arial;
}

h1 {
    margin-bottom: 10px;
}

p {
    background-color: #dfdfdf;
    padding: 10px;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 15px;
}

input {
    width: 220px;
    padding: 6px;
    border: 1px solid #000;
}

#btn-enviar {
    background-color: lightblue;
    border: 1px solid #000;
    padding: 8px 15px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 4px;
}
