/* estilo del parrafo del enunciado */
#enunciado {
    background-color: #dfdfdf;
    padding: 10px;
    margin-bottom: 20px;
}

/* estilo del boton */
#btn-generar {
    padding: 8px 15px;
    border: 1px solid #000000;
    background-color: lightblue;
    cursor: pointer;
    margin-bottom: 20px;
}

/* estilo de tabla */
table {
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #000;
    padding: 8px 12px;
}

th {
    background-color: lightgray;
}
